<app-user 
[userName]="'test'" 
[userNameWithOptionalValues] = "UndefinedValue" 
[userNameWithMultipleOptionalValues] = "UndefinedValue ?? NumberValue"
(emitString) ="newString($event)" 
[user] = "user"
></app-user>

<!-- For used to looping in new angular 17 onwards-->
<div>
 @for(item of items; track item){
    <p>{{item}}</p>
 }
</div>

<!-- If used to hide or show in new angular 17 onwards-->
@if(showItems)
{
    <div>
        @for(item of items; track item)
        {
           <p>{{item}}</p>
        }
    </div> 
}
@else {
    <div><p>showItems value is false, so we are not displaying any values</p></div>
}

<!-- old angular before 17 and it's called as structural directive -->
<!-- <div>
    <p *ngFor = "let item of items">
        {{item}}
    </p>
</div> -->
<!-- old angular before 17 -->
<!-- <div *ngIf ="showItems; else elseCondition">
    <p *ngFor = "let item of items">
        {{item}}
    </p>
</div>
<ng-template #elseCondition>
    <div><p>showItems value is false, so we are not displaying any values</p></div>
</ng-template> -->