<!-- when we use @Input() decrator-->
<h4>UserName: {{userName}}</h4>
<h4>UserNameWithoutRequired: {{userNameWithoutRequired}}</h4>
<h4>userNameWithOptionalValues: {{userNameWithOptionalValues}}</h4>
<h4>userNameWithMultipleOptionalValues: {{userNameWithMultipleOptionalValues}}</h4>
<h4>name from the user object: {{user.name}}</h4>

<!-- when we use input function -->
<!-- <h4>UserName: {{userName()}}</h4>
<h4>UserNameWithoutRequired: {{userNameWithoutRequired()}}</h4> -->

<button (click) = "buttonClicked()">Button</button>